@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*header*/
.material-icons{
    color:rgb(96, 96,96);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;

}
.header-left{
    display: flex;
    align-items: center;
}
.header-left img{
    width: 100px;
    margin-left: 15px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;

}
.header-search form{
    border: 1px solid #ddd;
    height: 35px;margin: 0;
    padding: 0;
    display: flex;
    border-radius: 20px;

}
.header-search input{
    width: 500px;
    padding: 2px;
    margin: 0;
    border-radius: 20pxpx;
    border: none;

}
.header-search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 20px;
}
/*sidebar*/
.sidebar{
flex:0.3;
max-width: 300px;
padding-right: 20px;
}
.sidebar-compose{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: gray;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0,0, 0.75);
}
.sidebar-compose span{
    margin-right: 5px;

}
.sidebaroption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}
.sidebar-footer{
    color: #818181;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.sidebaroption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.sidebaroption:hover,.sidebar-footericons:hover,
.sidebaroption:hover h3,
.sidebaroption:hover .material-icons{
   
    color:#c04b37;
    font-weight: 800;
}
/*main body*/
.main-body{
    display: flex;
    height: 100;
}

body{
    height: 100vh;
    overflow-y: hidden;}
    .emaillist{
        flex: 1;
        overflow: scroll;
    }
    .emaillist-settings{
        position: sticky;
        top:0;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid whitesmoke;
        background-color: white;
        z-index: 999;
        padding-left: 8px;

    }
    .emaillist-settingsleft{
        display: flex;
        align-items: center;

    }
    .emaillist-settings .material-icons{
        margin: 5px;
        cursor: pointer
        ;
    }
    .section{
        display: flex;
        align-self: center;
        border-bottom-width: 2px;
        padding: 15px;
        min-width: 200px;
        cursor: pointer;
        color: grey;
        border-width: 0;
    }
    .emaillist-sections{
        position: sticky;
        top: 0;
        display: flex;
        background-color: white;
        border-bottom: 1px solid whitesmoke;
        z-index: 999;

    }
    .section:hover{
        background-color: whitesmoke;
        border-width: 3px;
    }
    .section h4{
        font-size: 14px;
        margin-left: 15px;
    }
    .emailrow-options{
        display: flex;
        align-items: center;

    }
    .emailrow-options .material-icons,input{
        margin: 5px;


    }
    .emailrow{
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid whitesmoke;
        cursor: pointer;
        z-index: 999;
    }
    .emailrow:hover{
        border-top: 1px solid whitesmoke;
        box-shadow: 0 4px -2px rgba(0, 0,0, 0.24);
    }
    .emailrow-message{
        display: flex;
        flex: 0.8;
        align-items: center;
        font-size: 13px;
    }
    .emailrow-message h4{
        width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;
    }
    .emailrow-title{
        font-size: 13px;
        flex: 0.3;

    }
    .emailrow-time{
        padding-right: 15px;
        font-size: 10px;
        font-weight: bold;

    }
    .emailrow-decription{
        font-weight: 400;
        color: gray;
    }